# If you're running this code for the first time use: "pip install -r requirements.txt" to install all the needed packages/libraries
# Make sure you are in the right directory before you run the command

#Math, data en interpolation
numpy>=1.24.0
scipy>=1.10.0
pandas>=2.0.0

#Reinforcement Learning
gymnasium>=0.29.0
stable-baselines3>=2.3.0
shimmy>=1.3.0


#Unit testing
pytest>=7.0.0

#Optional: to plot graphs for the battery simulation
matplotlib>=3.7.0

#Database
influxdb-client>=1.36.0
psycopg2-binary>=2.9.0
